In [1]:
import pandas as pd
import os

base_path = "../data/fashion-product-images-small/myntradataset/"
old_csv_path = os.path.join(base_path, "styles.csv")
csv_path = os.path.join(base_path, "styles_fixed.csv")
img_path = os.path.join(base_path, "images")

In [2]:
# Fixing bad lines in csv file (due to commas in product names)

import csv

with open(old_csv_path) as rf, open(csv_path, 'w') as wf:
    csv_reader = csv.reader(rf, delimiter=',')
    csv_writer = csv.writer(wf, delimiter=',', quotechar='"', quoting=csv.QUOTE_MINIMAL)
    for row in csv_reader:
        if len(row) > 10:
            save_row = row[:8]
            save_row.append(''.join(row[9:]))
        else:
            save_row = row
        csv_writer.writerow(save_row)

In [3]:
styles = pd.read_csv(csv_path, error_bad_lines=False)

In [4]:
styles['image'] = styles.apply(lambda row: str(row['id']) + ".jpg", axis=1)
print(styles['image'])

0        15970.jpg
1        39386.jpg
2        59263.jpg
3        21379.jpg
4        53759.jpg
           ...
44441    17036.jpg
44442     6461.jpg
44443    18842.jpg
44444    46694.jpg
44445    51623.jpg
Name: image, Length: 44446, dtype: object

In [5]:
for image in styles['image']:
    if not os.path.exists(os.path.join(img_path, image)):
        print("Image {} doesn't exist!".format(image))

Image 39403.jpg doesn't exist!
Image 39410.jpg doesn't exist!
Image 39401.jpg doesn't exist!
Image 39425.jpg doesn't exist!
Image 12347.jpg doesn't exist!

In [6]:
# Filer out rows for which images don't exist

img_exists = styles.apply(lambda row: os.path.exists(os.path.join(img_path, row['image'])), axis=1)

styles = styles[img_exists]
print(styles)

          id gender masterCategory subCategory            articleType  \
0      15970    Men        Apparel     Topwear                 Shirts
1      39386    Men        Apparel  Bottomwear                  Jeans
2      59263  Women    Accessories     Watches                Watches
3      21379    Men        Apparel  Bottomwear            Track Pants
4      53759    Men        Apparel     Topwear                Tshirts
...      ...    ...            ...         ...                    ...
44441  17036    Men       Footwear       Shoes           Casual Shoes
44442   6461    Men       Footwear  Flip Flops             Flip Flops
44443  18842    Men        Apparel     Topwear                Tshirts
44444  46694  Women  Personal Care   Fragrance  Perfume and Body Mist
44445  51623  Women    Accessories     Watches                Watches

      baseColour  season    year   usage  \
0      Navy Blue    Fall  2011.0  Casual
1           Blue  Summer  2012.0  Casual
2         Silver  Winter  2016.0  Casual
3          Black    Fall  2011.0  Casual
4           Grey  Summer  2012.0  Casual
...          ...     ...     ...     ...
44441      White  Summer  2013.0  Casual
44442        Red  Summer  2011.0  Casual
44443       Blue    Fall  2011.0  Casual
44444       Blue  Spring  2017.0  Casual
44445       Pink  Winter  2016.0  Casual

                                    productDisplayName      image
0                     Turtle Check Men Navy Blue Shirt  15970.jpg
1                   Peter England Men Party Blue Jeans  39386.jpg
2                             Titan Women Silver Watch  59263.jpg
3        Manchester United Men Solid Black Track Pants  21379.jpg
4                                Puma Men Grey T-shirt  53759.jpg
...                                                ...        ...
44441                        Gas Men Caddy Casual Shoe  17036.jpg
44442               Lotto Men's Soccer Track Flip Flop   6461.jpg
44443             Puma Men Graphic Stellar Blue Tshirt  18842.jpg
44444                   Rasasi Women Blue Lady Perfume  46694.jpg
44445  Fossil Women Pink Dial Chronograph Watch ES3050  51623.jpg

[44441 rows x 11 columns]